@forward '../mixins/modules';

@use 'sass:map';

$vars: () !default;

@function -get($keys...) {
	@if (map.has-key($vars, $keys...)) {
		@return map.get($vars, $keys...);
	} @else {
		@return null;
	}
}

@mixin styles {
	.field_error {
		background-color: -get('colors', 'error', 'bg');
		color: -get('colors', 'error', 'text');
		flex: 0 0 100%;
		font-size: -get('font-size');
		height: 0;
		line-height: -get('line-height');
		margin: -get('margin-bottom');
		padding-top: 5px;
		order: 4;
		text-align: -get('text-align');
		transition: all 320ms ease;
	}
}
